.header {
    background-color: #f98000;
    color: #ffffff;
}

.results {
    background-color: #f3f4f6;
}

.desc {
    background-color: #ffffff;
    color: #9ca3af;
}

/*theme*/
#light:checked + .label-light {
    background-color: #fff8cc;
    color: #8b5e00;
}

#light:checked ~ .results .desc-light {
    background-color: #fff8cc;
    color: #111827;
}

#dark:checked + .label-dark {
    background-color: #111827;
    color: #f9fafb;
}
#dark:checked ~ .results .desc-dark {
    background-color: #111827;
    color: #f9fafb;
}

/*color*/
#red:checked + .label-red {
    background-color: #fee2e2;
    color: #991b1b;
}

#red:checked ~ .results .desc-red {
    background-color: #fee2e2;
    color: #7f1d1d;
}

#blue:checked + .label-blue {
    background-color: #dbeafe;
    color: #1d4ed8;
}

#blue:checked ~ .results .desc-blue {
    background-color: #dbeafe;
    color: #1d4ed8;
}

#green:checked + .label-green {
    background-color: #dcfce7;
    color: #166534;
}
#green:checked ~ .results .desc-green {
    background-color: #dcfce7;
    color: #166534;
}

/*lang*/
#vi:checked + .label-vi {
    background-color: #bbf7d0;
    color: #166534;
}
#vi:checked ~ .results .desc-vi {
    color: #166534;
}

#en:checked + .label-en {
    background-color: #bfdbfe;
    color: #1d4ed8;
}
#en:checked ~ .results .desc-en {
    color: #1d4ed8;
}

/*option*/
#advanced:checked + .label-adv {
    background-color: #fef3c7;
    color: #92400e;
}
#advanced:checked ~ .results .desc-adv {
    background-color: #fef3c7;
    color: #92400e;
}

#eco:checked + .label-eco {
    background-color: #bbf7d0;
    color: #15803d;
}
#eco:checked ~ .results .desc-eco {
    background-color: #bbf7d0;
    color: #166534;
}

#warning:checked + .label-warn {
    background-color: #fee2e2;
    color: #b91c1c;
}
#warning:checked ~ .results .desc-warn {
    background-color: #fee2e2;
    color: #b91c1c;
}
